[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.7"
